
<div class="header-container">
  <div class="header">

    <nav class="languages"><a href="/en/">English</a> / <a href="/fr/">Français</a></nav>


  <nav class="links">
      <a href="<%= locale_path('/') %>" class="logo">
      <img src="/images/logo@2x.png" alt="Hello Lamp Post" width="190" height="167">
    </a>

          <div class="group-left">
        <a href="<%= locale_path('/how-to-play') %>" class="<%= link_html_class("/how-to-play") %>"><%= I18n.t(:nav_how_to_play) %></a>
      </div>


      <div class="group-right">
        <a href="<%= locale_path('/about') %>" class="<%= link_html_class("/about") %>"><%= I18n.t(:nav_about) %></a>
      </div>
    </nav>
  </div>
</div>