
<div class="hero">
  <div class="inner hero-about">
    <h1><%= I18n.t(:about_title) %></h1>
    <div class="subtitle"><%= I18n.t(:about_subhead) %></div>

    <div class="hero-video">
      <div class="videoWrapper">
        <%= I18n.t(:intro_video) %>
      </div>
    </div>
     <div class="left-align"><%= I18n.t(:about_para1) %></div>
  </div>
</div>

<div>
  <div class="inner">
   <!-- <img src="/images/about-bordeaux-image.jpg" alt=""> !-->
    <%= I18n.t(:about_image) %>
  </div>
</div>

<div class="yellow-bg">
  <div class="inner"><%= I18n.t(:about_para2) %>
  </div>
</div>

<div>
  <div class="inner">
    <img src="/images/bristol.jpg" alt="">
  </div>
</div>

<div class="yellow-bg">
  <div class="inner">
    <p><%= I18n.t(:about_para4) %></p>
  </div>
</div>
