<div class="how-to-play">

  <div class="inner">
    <h1><%= I18n.t(:how_to_play_title) %></h1>

    <div class="how-to-play-steps">

      <div class="how-to-play-step step-1">
        <div class="step-number">1</div>
        <h2><%= I18n.t(:how_to_play_step_one_title) %></h2>
        <p><%= I18n.t(:how_to_play_step_one_copy) %></p>
      </div>

      <div class="how-to-play-step step-2">
        <div class="step-number">2</div>
        <h2><%= I18n.t(:how_to_play_step_two_title) %></h2>
        <%= I18n.t(:how_to_play_step_two_copy) %>
      </div>

      <div class="how-to-play-step step-3">
        <div class="step-number">3</div>
        <h2><%= I18n.t(:how_to_play_step_three_title) %></h2>
        <%= I18n.t(:how_to_play_step_three_copy) %>

      </div>

    </div>


  </div>
</div>

<div class="what-next">
  <div class="inner">
    <h2><%= I18n.t(:what_next_title) %></h2>
    <%= I18n.t(:what_next_copy) %>
  </div>
</div>
